* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", sans-serif !important;
  box-sizing: border-box;
}

:root {
  --accent-color: #0a97bc !important;
  --bgDark: #f5fbfd;
  --tableHead: #f5fbfd;
  --tableBody: #fff;
  --bgLight: #fff;
  --title: #2a3437;
  --text: #4b5a5f;
  --map-table-trush: #000;
  --prColor: #0a97bc;
  --done: #0a97bc1a;
  --employee-modal-bg: #f2f9fc;
  --employee-star-bg: #e5edef;
  --employee-close: #2a3437;
  --cancelModal: #000;
  --status: #fbf0f0;
  --statusText: #d24242;
  --num: #4b5a5f;
  --jobs-item: #fff;
  --shadow: rgba(144, 173, 248, 0.25);
  --shadow-service: rgba(181, 186, 197, 0.25);
  --back: #eaf3f6;
  --back-svg: invert(0);
  --bg-modal: #fff;
  --x-btn: #2a3437;
  --modal-text: #89999e;
  --input-border: #e5edef;
  --bg-input: #f2f9fc;
  --input-placeholder: #bdcbcf;
  --caret: url(./caret.beb1c8eb.svg);
  --service: none;
  --modal-border: #e5edef;
  --modal-placeholder: #bdcbcf;
  --number-shadow: 0 9px 18px 0 rgba(144, 173, 248, 0.25);
  --map-btn: #eef4f8;
  --mapModalEmpty: #e7f7e8;
  --mapModalBusy: #fbf0f0;
  --table-checkbox: #f5fbfd;
  --table-btn-border: #e4ecef;
  --dark-shadow: rgba(144, 173, 248, 0.25);
  --back-btn-bac: #eaf3f6;
  --back-btn-img: invert(1);
  --mapModalEmptyColor: #0aae1b;
  --modal-bg: #f5fbfd;
}

.dark-mode {
  --accent-color: #0a97bc !important;
  --cancelModal: #ff6a6a;
  --status: #5d3434;
  --bgDark: #1d2e34;
  --bgLight: #334248;
  --tableHead: #334248;
  --tableBody: #27343a;
  --statusText: #fff;
  --title: #fff;
  --text: hsla(0, 0%, 100%, 0.8);
  --num: #fff;
  --jobs-item: #35454a;
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-service: rgba(0, 0, 0, 0.25);
  --back: #35454a;
  --back-svg: invert(1);
  --bg-modal: #1d2e34;
  --x-btn: #ff6a6a;
  --modal-text: #fff;
  --input-border: hsla(0, 0%, 100%, 0.3);
  --bg-input: #27343a;
  --input-placeholder: hsla(0, 0%, 100%, 0.3);
  --caret: url(./caret-white.9ef1ba4f.svg);
  --service: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
  --modal-border: hsla(0, 0%, 100%, 0.3);
  --modal-placeholder: hsla(0, 0%, 100%, 0.3);
  --employee-modal-bg: #1d2e34;
  --employee-star-bg: #35454a;
  --employee-close: #ef3232;
  --done: #0a97bc1a;
  --map-table-trush: #ff6a6a;
  --number-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
  --map-btn: #03161d;
  --mapModalEmpty: #1b3b31;
  --mapModalEmptyColor: #0df824;
  --mapModalBusy: #5d3434;
  --table-checkbox: #334248;
  --table-btn-border: #47555a;
  --dark-shadow: #1d2e34;
  --back-btn-bac: #334248;
  --back-btn-img: invert(0);
  --modal-bg: #03161d;
}
::-webkit-scrollbar {
  width: 12px;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #f5fbfd;
  background: var(--bgDark);
  color: #2a3437;
  display: flex;
  flex-direction: column;
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 16px;
}

a {
  text-decoration: none;
}

a,
button {
  color: #fff;
  cursor: pointer;
}

button {
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a,
button {
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 12px;
  width: 100%;
}
.hover\:border-gray-300:hover {
  --tw-border-opacity: 1;
  border-color: #d1d5db;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.hover\:bg-blue-800:hover {
  --tw-bg-opacity: 1;
  background-color: #1e429f;
  background-color: rgb(30 66 159 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: #f3f4f6;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-blue-600:hover {
  --tw-text-opacity: 1;
  color: #1c64f2;
  color: rgb(28 100 242 / var(--tw-text-opacity));
}

.hover\:text-gray-600:hover {
  --tw-text-opacity: 1;
  color: #4b5563;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: #111827;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color),
    var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
      var(--tw-ring-color),
    0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color),
    var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width))
      var(--tw-ring-color),
    0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(164 202 254 / var(--tw-ring-opacity));
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(63 131 248 / var(--tw-ring-opacity));
}

.focus\:ring-gray-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
}

:is(.dark .dark\:border-blue-500) {
  --tw-border-opacity: 1;
  border-color: #3f83f8;
  border-color: rgb(63 131 248 / var(--tw-border-opacity));
}

:is(.dark .dark\:border-gray-600) {
  --tw-border-opacity: 1;
  border-color: #4b5563;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

:is(.dark .dark\:border-gray-700) {
  --tw-border-opacity: 1;
  border-color: #374151;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

:is(.dark .dark\:border-transparent) {
  border-color: transparent;
}

:is(.dark .dark\:bg-\[\#334248\]) {
  --tw-bg-opacity: 1;
  background-color: #334248;
  background-color: rgb(51 66 72 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-blue-600) {
  --tw-bg-opacity: 1;
  background-color: #1c64f2;
  background-color: rgb(28 100 242 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-600) {
  --tw-bg-opacity: 1;
  background-color: #4b5563;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-700) {
  --tw-bg-opacity: 1;
  background-color: #374151;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-800) {
  --tw-bg-opacity: 1;
  background-color: #1f2937;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-gray-800\/50) {
  background-color: #1f293780;
}

:is(.dark .dark\:bg-opacity-80) {
  --tw-bg-opacity: 0.8;
}

:is(.dark .dark\:text-blue-500) {
  --tw-text-opacity: 1;
  color: #3f83f8;
  color: rgb(63 131 248 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-gray-400) {
  --tw-text-opacity: 1;
  color: #9ca3af;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:ring-offset-gray-800) {
  --tw-ring-offset-color: #1f2937;
}

:is(.dark .dark\:hover\:bg-blue-700:hover) {
  --tw-bg-opacity: 1;
  background-color: #1a56db;
  background-color: rgb(26 86 219 / var(--tw-bg-opacity));
}

:is(.dark .dark\:hover\:bg-gray-600:hover) {
  --tw-bg-opacity: 1;
  background-color: #4b5563;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

:is(.dark .dark\:hover\:bg-gray-800:hover) {
  --tw-bg-opacity: 1;
  background-color: #1f2937;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

:is(.dark .dark\:hover\:text-blue-500:hover) {
  --tw-text-opacity: 1;
  color: #3f83f8;
  color: rgb(63 131 248 / var(--tw-text-opacity));
}

:is(.dark .dark\:hover\:text-gray-300:hover) {
  --tw-text-opacity: 1;
  color: #d1d5db;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

:is(.dark .dark\:hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:focus\:ring-blue-600:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(28 100 242 / var(--tw-ring-opacity));
}

:is(.dark .dark\:focus\:ring-offset-gray-800:focus) {
  --tw-ring-offset-color: #1f2937;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a,
    0 1px 2px -1px #0000001a;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: blur(8px) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
    var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) invert(100%) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.filter,
.invert {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.transition {
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-opacity {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-transform {
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.menu-languages {
  align-items: center;
  display: flex;
  gap: 24px;

  .language-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;

    img {
      max-width: 24px;
      width: 100%;
    }
  }
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #0a97bc);
  background: linear-gradient(transparent, var(--prColor));
  border-radius: 6px;
}

body {
  min-width: 1380px;
  margin: 0;
}

.container {
  max-width: 1380px; /* Har doim 1024px bo'lib qoladi */
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1380px;
  }
}

@media (orientation: portrait) {
  .container {
    max-width: 1380px;
  }
}

@media (orientation: landscape) {
  .container {
    max-width: 1380px;
  }
}
